.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #5065a8;

}

img {
    width: 10vw;
    margin-left: 5vw;
}

body {
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
}

button {
    font-size: 24px;
    font-weight: 600;
    border: none;
    color: inherit;
    cursor: pointer;
    outline: none;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}

button:hover {
    background-color: rgb(207, 207, 207);
}

.books {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    padding: 10px;
    position: fixed;
    top: 250px;
    background-color: rgb(155, 154, 154);
    border-radius: 10px;
}

.forms button {
    border: 1px solid black;
    font-size: 15px;
    padding: 5px;
}

.hidden {
    display: none;
}

.books > div {
    width: 200px;
    height: 300px;
    border: 5px solid #5065a8;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    justify-content: space-around;
    background-color: rgb(255, 206, 115);
}

.books > div > p {
    text-align: center;
    font-size: 18px;
}

.books > div > button {
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #5065a8;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}